@page "/Login"
@model Login.LoginModel

@{
    Layout = "_layout";
}


<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <input type="text" asp-for="Username" placeholder="Tên người dùng" autocomplete="off" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="password" asp-for="Password" placeholder="Mật khẩu" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Đăng nhập</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}